body, html {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

div {
	padding: 0px;
	margin: 0px;
}

#wrapper {
height:100%;
margin: 0px auto;
background-color: #F3F3F3;
text-align: center;
}

#mainframe {
height:100%;
width:600px;
display:inline-block;
margin: 0px auto;
background-color: #F3F3F3;
}

#step{
margin-top:120px;
width:100%;
text-align: center;
}

.step {
	height: 0px;
	width: 0px;
	display: none;
}

.step + span {
border-collapse: collapse;
color:#727272;
display: inline-block;
width:100%;
height:100%;
background-color: #e5e5e5;
}

.step:checked + span{
border-collapse: collapse;
color: white;
font-weight: bold;
display: inline-block;
width:100%;
height:100%;
background-color: rgba(95, 155, 98);
}

table,td,tr {
padding: 0px;
margin: 0px;
border-spacing:0px;
border-width: 0px;
}

.step ~ span {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
}

.stepbox {
margin:0px;
padding:0px;		
height:500px;
background-color: rgba(255, 255, 255);
}

.typetext {
display: inline-block;
width: 100%;
background-color: rgba(23, 12, 41,0.7);

}

#steptop{
	margin:0px;
	padding:0px;
	width: 100%;
	height: 5px;
	background-color: rgba(95, 155, 98);
}



h2{
color:rgba(23, 12, 41);
padding-top:5px;
padding-bottom:15px;
margin: 0px;
}

.typetd {
width: 500px;
height: 100%;
justify-content: center;
align-items: center;
background-size : 800px;
background-position: center; 
color: white;
font-weight: bold;
text-align: center;
font-size: 24px;
filter: grayscale(90%);
}

#typetable{
border-collapse:separate;
border-spacing: 0px;
width: 100%;
height: 100%;
}

.typetd:hover {
cursor: pointer;
transition: 1.0s;
background-position: 100% center;
filter: grayscale(0%);

}

#type1td {
background-image: url("img/register01.jpg");
}

#type2td {
background-image: url("img/register02.jpg");

}

.red {
color: red; 
}

.green {
color: green; 
}
input[type=checkbox]{
margin-right: 15px;	
}
input[type=checkbox]:checked + label {
font-weight: bold;
}

#terms {
margin: 0px auto;
text-align:left;
width: 80%;
height: 180px;
background-color: #F3F3F3;
overflow-y:scroll;
}

#terms::-webkit-scrollbar {
width: 10px;
}
#terms::-webkit-scrollbar-thumb{
background: #727272;
border-radius: 10px;
}
#terms::-webkit-scrollbar-track {
background: F3F3F3;
}

#checkboxs {
margin-left:20%;
text-align: left;
}

.centerbox {
margin: 0px auto;
margin-top: 5px;
margin-bottom: 5px;
padding: 0px auto;
width: 80%;
}

.result_box {
height: 25px;
width: 100%;
margin-top: -5px;
margin-bottom: 13px;
}


#send_btn,#confirm_btn,#id_check,#nick_check {
margin-left: 10px;
}

#timer {
color:red;
}

.blank {
height: 20px;
}

input:invalid {
  border-color: red;
}

.xicon{
	font-size: 20px;
	margin-top: 8px;
	margin-left: 10px;
}

#succicon{
	font-size: 160px;
	color: rgba(23, 12, 41);
}